 <body class="bg-gradient-primary" style="height:100vh;">
      <div class="container">
          <div class="row justify-content-center">
              <div class="col-md-9 col-lg-12 col-xl-10" style="margin-top: 50px;">
                  <div class="card shadow-lg o-hidden border-0 my-5">
                      <div class="card-body p-0">
                          <div class="row">
                              <div class="col-lg-6 d-none d-lg-flex">
                                  <div class="flex-grow-1 bg-login-image" style="background-image: url(&quot;assets/img/image3.jpeg&quot;);"></div>
                              </div>
                              <div class="col-lg-6">
                                <div class="p-5">
                          <div class="text-center">
                              <h4 class="text-dark mb-4">Create an Account!</h4>
                          </div>
                          <form class="user">
                              <div class="form-group row">
                                  <div class="col-sm-6 mb-3 mb-sm-0">
                                    <input class="form-control form-control-user" type="text" id="exampleFirstName" placeholder="First Name" name="first_name" required [(ngModel)]="account_model.first_name" #opCarrier="ngModel">
                                    <small class="text-danger" *ngIf="account_model.first_name == ''  && errFirstName" style='margin-left:20px;'>First Name is required</small>
                                  </div>
                                  <div class="col-sm-6">
                                    <input class="form-control form-control-user" type="text"  placeholder="Last Name" name="last_name" required [(ngModel)]="account_model.last_name" #opCarrier="ngModel">
                                    <small class="text-danger" *ngIf="account_model.last_name == ''  && errLastName" style='margin-left:20px;'>Last Name is required</small>
                                  </div>
                              </div>
                              <div class="form-group">
                                <input class="form-control form-control-user" type="email"  aria-describedby="emailHelp" placeholder="Username" name="email"  required [(ngModel)]="account_model.email" #opCarrier="ngModel">
                                <small class="text-danger" *ngIf="account_model.email == ''  && errEmail" style='margin-left:20px;'>Username is required</small>
                              </div>


                              <div class="form-group ">
                                  <input class="form-control form-control-user" type="password" id="examplePasswordInput" placeholder="Password" name="password" required [(ngModel)]="account_model.password" #opCarrier="ngModel">
                                  <small class="text-danger" *ngIf="account_model.password == ''  && errPassword" style='margin-left:20px;'>Password is required</small>
                              </div>
                              <button class="btn btn-primary btn-block text-white btn-user" type="submit" (click)=CreateAccount() >Register Account</button>
                              <hr>
                          </form>
                          <div class="text-center"><a class="small" href="javascript:void(0);" (click)=SignIn()>Already have an account? Login!</a></div>
                      </div>
                              </div>
                          </div>
                      </div>
                  </div>
              </div>
          </div>
      </div>
</body>
