# Copy this file to .env and replace the credentials with
# your own before starting the app.

REST_URL=<REST_URL>
DB_DATABASE=<DB_DATABASE>
DB_HOSTNAME=<DB_HOSTNAME>
DB_PORT=<DB_PORT>
DB_UID=<DB_UID>
DB_PWD=<DB_PWD>
